*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background-color: #f5f5f5;
}

header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
}

header h1 {
  font-weight: 300;
  margin-left: 10px;
}

.container {
  max-width: 500px;
  margin: 30px auto;
  padding: 20px;
}

.edit-mode {
  color: #ccc;
}

/* Form & Input */
.form-input {
  width: 100%;
  font-size: 18px;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

.form-input-filter {
  margin-top: 20px;
  width: 100%;
  font-size: 18px;
  margin-bottom: 20px;
  padding: 10px;
  border: none;
  border-bottom: 1px solid #ccc;
  background: transparent;
  outline: none;
}

/* Buttons */
.btn {
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.btn:hover {
  background-color: #444;
}

.btn-link {
  font-size: 16px;
  background-color: transparent;
  color: #333;
  border: none;
  padding: 0;
  cursor: pointer;
}

.btn-clear {
  margin-top: 20px;
  width: 100%;
  font-size: 16px;
  background-color: transparent;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.btn-clear:hover {
  background-color: #f1f1f1;
}

.text-red {
  color: red;
}

/* Items */

.items {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
}

.items li {
  display: flex;
  justify-content: space-between;
  width: 45%;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px 15px;
  margin: 0 5px 20px;
  font-weight: 700;
  cursor: pointer;
}

@media (max-width: 500px) {
  .items li {
    width: 100%;
  }
}
.navbar{
    display: grid;
    background-color: #0b1416;
    height: 60px;
    border-color: #f0fdff;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    border-bottom: 1px;
    align-items: center;
    grid-template-columns: 22% 60% 18%;
    width: 100%;
    overflow: hidden;
    border-style: solid;
    /* position: fixed; */
}
.logo a img{
    height: 140px;
    width: 140px;
    margin: auto;
    margin-top: -45px;
    margin-left: 10px;
    margin-bottom: -50px;
    padding: 0px
}
.forsearch{
  border-width: 1px;
  background-color: #233538;
  border-radius: 20px;
  height: 40px;
  width: 750px;
  border-style: solid;
}
.fforsearch{
  position:relative;
}
.imgsrh{
  position: absolute;
  width: 25px;
  height: 25px;
  left: 15px;
  top: 7px;
}
.search{
  position: absolute;
  width: 92%;
  height: 100;
  border: 0px none;
  outline: none;
  background-color: #233538;
  left: 50px;
  top: 12px;
  color: white;
}
.nav-bt{
  display: flex;
  gap: 15px;
}
.btns{
  height: 40px;
  width: 70px;
  border-radius: 50px;
  border: none;
  color: #fff;
  font-weight: bold;
  /* letter-spacing: 1px; */
  /* text-indent: 5px; */
}
#btn1{
  background-color: #233538; 
  width: 90px;
  display: flex;
  gap: 4px;
  justify-content: center;
  align-items: center;
}
#btn1:hover{
  background-color: #4c615d87;
}
#btn2{
  background-color: #D93A00;
  display: flex;
  justify-content: center;
  align-items: center;
}
#btn2:hover{
  background-color: #d3633a;
}
#btn3{
  width: 40px; 
  background-color: #0b1416;
  display: flex;
  justify-content: center;
  align-items: center;
}
#btn3:hover{
  background-color: rgb(29, 53, 59)
}
.page{
  background-color: #0b1416;
  display: grid;
  grid-template-columns: 20% 80%;
}
.fh{
  display: grid;
  gap: 20px;
  justify-content: end;
  margin-top: 20px;
}
.home button{
  display: flex;
  align-items: center;
  background-color: #0b1416;
  color: white;
  border: 0px;
  width: 190px;
  height: 40px;
  gap: 5px;
  margin-right: 3px;
  /* margin-left: 5px; */
  /* margin-top: 30px; */
  /* position: relative; */
  /* top: 30px;
  left: 90px; */
}
.home button:hover{
  background-color: #354e53a5;
  border-radius: 10px;
}
.border{
  width: 97%;
  height: 1px;
  background-color: #cccccc39;
  margin-top: -12px;
}
.Topics{
  /* margin-top: 20px; */
  margin-left: 12px;
}
button{
  display: flex;
  align-items: center;
}
.Topics button{
  display: flex;
  align-items: center;
  background-color: #0b1416;
  color: white;
  border: 0px;
  width: 190px;
  height: 40px;
  gap: 5px;
  margin-right: 3px;
  padding-left: 8px;
  /* margin-left: 5px; */
  /* margin-top: 30px; */
  /* position: relative; */
  /* top: 30px;
  left: 90px; */
}
.Topics button:hover{
  background-color: #354e53a5;
  border-radius: 10px;
}